@require 'colors'

body
	font-family: 'Raleway'
	color: $text
	background-color: $medium-backdrop

.hide-hack
	color: rgba(0, 0, 0, 0) !important
	background: rgba(0, 0, 0, 0) !important
	padding: 0 !important
	margin: 0 !important

.def-cur
	cursor: default
