// Color palette
// Based on colors found at: http://www.materialpalette.com/

// Aggressive colors
$dark-primary = #FFA000
$primary = #FFC107
$light-primary = #FFECB3
$accent = #FF5722

// text/grays
$text = #212121
$backdrop = #FFFFFF
$secondary-text = #727272
$divider = #E6E6E6
$shadow = #B6B6B6
