// Color palette
// Based on colors found at: http://www.materialpalette.com/

// Aggressive colors
$dark-primary = #FFA000
$primary = #FFC107
$light-primary = #FFFAE3
$accent = #FF5772

// text/grays
$text = #212121
$light-backdrop = #FFFFFF
$dark-backdrop = #F0F0F0
$secondary-text = #727272
$divider = #E6E6E6
$shadow = #B6B6B6
