@require 'utils'
@require 'colors'
@require 'layout'

div.footer
	height: $footer-height - $footer-bottom-height
	color: white
	background-color: $primary

div.footer-bottom
	height: $footer-bottom-height
	background-color: $dark-primary
