@require 'utils'
@require 'colors'
@require 'layout'

div.header-topbar
	position: absolute
	background-color: $dark-primary
	top: 0
	left: 0
	right: 0
	height: $header-topbar-height

div.header
	position: absolute
	top: $header-topbar-height
	left: -4px
	right: 0
	height: $header-height - $header-topbar-height
	color: white
	padding-left: 2rem
	padding-top: 1rem
	font-size: 2rem
	bottom-shadow()
	background-color: $primary
