@require 'utils'
@require 'colors'
@require 'layout'


div.header-topbar
	background-color: $dark-primary
	width: 100%
	height: $header-topbar-height

div.header
	height: $header-height - $header-topbar-height
	color: white
	padding-top: 1.5rem
	padding-left: 8rem
	font-family: 'Summit'
	font-size: 2.7rem
	bottom-shadow()
	background-color: $primary
