@require 'colors'
@require 'utils'
@require 'layout'

div.sidelist-backdrop
	width: $sidelist-width
	background: $dark-backdrop

div.sidelist
	width: $sidelist-width
	overflow-y: scroll
	overflow-x: hidden
	background: $dark-backdrop

.sl-item
	height: 4rem
	width: 100%
	padding: 1rem
	color: $text
	text-align: center
	border-bottom: 1px solid $divider
	background-color: $light-backdrop

.sl-item:hover
	background-color: $light-primary

.sl-item.highlight
	background-color: $dark-primary
	color: white
