@require 'colors'
@require 'utils'

.sidelist-shutter
	height: 11rem
	width: 3rem
	round(10px)
	background-color: rgba($medium-gray, 0.3)
	color: $faded-white
	padding-left: 0.5rem
	padding-top: 5rem
	depth-shadow()

.sidelist-shutter:hover
	color: white
	background-color: rgba($medium-gray, 0.4)

