@require 'colors'
@require 'utils'

.sidelist-shutter
	height: 11rem
	width: 2.5rem
	round-right(10px)
	background-color: rgba($medium-gray, 0.3)
	color: $faded-white
	padding-left: 0.2rem
	padding-top: 4rem
	depth-shadow()

.sidelist-shutter:hover
	color: white
	background-color: rgba($medium-gray, 0.4)

