@require 'colors'
@require 'utils'
@require 'layout'

.sidelist
	position: absolute
	width: 25rem
	top: $header-height
	bottom: 0
	right-shadow()

.sl-item
	height: 4rem
	width: 100%
	padding: 1rem
	color: $text-color
	text-align: center
	border-bottom: 1px solid $divider
