@require 'colors'
@require 'utils'
@require 'layout'

.sl-search
	margin-left: -2rem
	background-color: $accent
	color: $faded-white
	height: 4rem
	max-height: 4rem
	round(0.3rem)
	padding-top: 0.5rem
	padding-left: 2.5rem
	padding-right: 0.5rem
	display: inline-block
	font-size: 1.8rem

.sl-search:hover, .sl-search.open
	color: white

.sl-search > .fa-caret-right
	margin-left: 0.5rem

.search-arrow
	margin-top: 0.5rem

.search-input
	opacity: 0
	border: 1px solid $divider
	background: $light-backdrop
	text-align: right
	padding-top: 0
	padding-right: 1rem
	width: 0
	color: $text
