@require 'colors'

shadow(offset-x = 0, offset-y = 0, radius = 5px, color = $shadow)
	-webkit-box-shadow offset-x offset-y radius color
	-moz-box-shadow offset-x offset-y radius color
	box-shadow offset-x offset-y radius color

depth-shadow()
	-webkit-box-shadow: 4px 4px 6px -3px $shadow
	-moz-box-shadow: 4px 4px 6px -3px $shadow
	box-shadow: 4px 4px 6px -3px $shadow

bottom-shadow()
	-webkit-box-shadow: 0 5px 6px -6px $shadow
	-moz-box-shadow: 0 5px 6px -6px $shadow
	box-shadow: 0 5px 6px -6px $shadow

right-shadow()
	-webkit-box-shadow: 5px 0 7px -6px $text
	-moz-box-shadow: 5px 0 7px -6px $text
	box-shadow: 5px 0 7px -6px $text

round(size = 10px)
	-webkit-border-radius: size
	-moz-border-radius: size
	border-radius: size

round-right(size = 10px)
	-webkit-border-top-right-radius-right: size
	-webkit-border-bottom-right-radius-bottom: size
	-moz-border-top-right-radius: size
	-moz-border-bottom-right-radius: size
	border-top-right-radius: size
	border-bottom-right-radius: size

stroke(clr)
	text-shadow: 0 0 1px clr

// Font Awesome extensions

.fa-sm
	font-size: 0.7em
